body {
    background: black; 
    color: black 
}

.home {
    background: rgb(59, 183, 224); 
    height: 12vh; 
    width: 100vw; 
    padding-left: 120px;
    font-weight: bold;
    display: flex; 
    align-items: center
}